.panel-body {
    background-color: blue;
    margin-bottom: 10px;
}
.player-turn {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

table {
    text-align: center;
}

td {
    border: 0px solid #00f;
    border-radius: 100%;
    box-shadow: inset 7px 7px 20px 0px rgba(50, 50, 50, 0.4);
    opacity: 1;
    height: 70px;
    width: 70px;
    background: #fff
}
.p1 {
    background: yellow;
}
.p2 {
    background: red;
}
.panel-default {
    width: 500px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 10px;
}
.img_github {
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
.my-button {
    margin-top: 10px !important;
}